body{
  background-color: #004F00 !important;
  text-align: center;
}
.tooltip-inner {
    max-width: 350px !important;
}
.c{
  color: yellow;
  margin: 0;
  text-align: left !important;
}
.m{
  text-align: left !important;
  margin: 0;
}
.u{
  color: yellow;
  margin: 0;
  font-weight: bold;
}
.un{
  color: #DAA520;
  margin: 0;
  font-weight: bold;
}
.h{
  color: #2090FE;
  margin: 0;
  font-weight: bold;
}
.l{
  color: #FA9A20;
  margin: 0;
  font-weight: bold;
}
.legbon{
  text-align: left;
  color: #FA9A20;
  margin: 0;
}
.back{
  border: 2px solid white;
  width: 100px !important;
  padding: 10px;
  border-radius: 10px;
  display: inline;
  margin: 3px;
  transition: .2s;
}
.back:hover{
  background-color: #017501;
  filter: drop-shadow(0px 0px 5px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 5px #ffffff);
  -moz-filter: drop-shadow(0px 0px 5px #ffffff);
}
a{
  position: relative;
  text-decoration: none !important;
  color: white !important;
  width: 100px;
  display: inline;
}
a:hover, a:focus{
  color: white !important;
}
#demo {
    background: url(jakub.png);
    image-rendering: pixelated;
    width: 473px;
    height: 435px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
}
h4{
  text-align: center;
  color: white !important;
}
.b1{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldpoison.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 8px;
  top: 10px;
}
.b2{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldfire.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 41px;
  top: 10px;
}
.b3{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/gold15.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 74px;
  top: 10px;
}
.b4{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldfiret.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 107px;
  top: 10px;
}
.b5{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldgr.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 140px;
  top: 10px;
}
.b6{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/roz/goldfirem.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 173px;
  top: 10px;
}
.b1-1{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldpoison.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 8px;
  top: 43px;
}
.b2-1{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldfire.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 41px;
  top: 43px;
}
.b3-1{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/gold15.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 74px;
  top: 43px;
}
.b4-1{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldfiret.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 107px;
  top: 43px;
}
.b5-1{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldgr.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 140px;
  top: 43px;
}
.b6-1{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/roz/goldfirem.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 173px;
  top: 43px;
}
.b1-2{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldpoison.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 8px;
  top: 76px;
}
.b2-2{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldfire.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 41px;
  top: 76px;
}
.b3-2{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/gold15.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 74px;
  top: 76px;
}
.b4-2{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldfiret.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 107px;
  top: 76px;
}
.b5-2{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldgr.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 140px;
  top: 76px;
}
.b6-2{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/roz/goldfirem.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 173px;
  top: 76px;
}
.b1-3{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldpoison.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 8px;
  top: 109px;
}
.b2-3{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldfire.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 41px;
  top: 109px;
}
.b3-3{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/gold15.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 74px;
  top: 109px;
}
.b4-3{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldfiret.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 107px;
  top: 109px;
}
.b5-3{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldgr.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 140px;
  top: 109px;
}
.b6-3{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/roz/goldfirem.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 173px;
  top: 109px;
}
.b1-4{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldpoison.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 8px;
  top: 142px;
}
.b2-4{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldfire.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 41px;
  top: 142px;
}
.b3-4{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/gold15.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 74px;
  top: 142px;
}
.b4-4{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldfiret.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 107px;
  top: 142px;
}
.b5-4{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldgr.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 140px;
  top: 142px;
}
.b6-4{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/roz/goldfirem.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 173px;
  top: 142px;
}
.b1-5{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldpoison.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 8px;
  top: 175px;
}
.b2-5{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldfire.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 41px;
  top: 175px;
}
.b3-5{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/gold15.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 74px;
  top: 175px;
}
.b4-5{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldfiret.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 107px;
  top: 175px;
}
.b5-5{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldgr.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 140px;
  top: 175px;
}
.b6-5{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/roz/goldfirem.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 173px;
  top: 175px;
}
.b1-6{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldpoison.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 8px;
  top: 208px;
}
.b2-6{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldfire.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 41px;
  top: 208px;
}
.b3-6{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/gold15.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 74px;
  top: 208px;
}
.b4-6{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldfiret.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 107px;
  top: 208px;
}
.b5-6{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldgr.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 140px;
  top: 208px;
}
.b6-6{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/roz/goldfirem.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 173px;
  top: 208px;
}
.b1-7{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldpoison.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 8px;
  top: 241px;
}
.b2-7{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldfire.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 41px;
  top: 241px;
}
.b3-7{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/gold15.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 74px;
  top: 241px;
}
.b4-7{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldfiret.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 107px;
  top: 241px;
}
.b5-7{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldgr.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 140px;
  top: 241px;
}
.b6-7{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/roz/goldfirem.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 173px;
  top: 241px;
}
.b1-8{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldpoison.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 8px;
  top: 274px;
}
.b2-8{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldfire.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 41px;
  top: 274px;
}
.b3-8{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/gold15.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 74px;
  top: 274px;
}
.b4-8{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldfiret.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 107px;
  top: 274px;
}
.b5-8{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldgr.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 140px;
  top: 274px;
}
.b6-8{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/roz/goldfirem.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 173px;
  top: 274px;
}
.b1-9{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldpoison.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 8px;
  top: 307px;
}
.b2-9{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/goldfire.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 41px;
  top: 307px;
}
.b3-9{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/bro/gold15.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 74px;
  top: 307px;
}
.b4-9{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldfiret.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 107px;
  top: 307px;
}
.b5-9{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/luk/goldgr.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 140px;
  top: 307px;
}
.b6-9{
  position: absolute;
  background: url(https://www.margonem.pl/obrazki/itemy/roz/goldfirem.gif), url(https://deezor1.github.io/margonem/uni.png) no-repeat;
  width: 32px;
  height: 32px;
  left: 173px;
  top: 307px;
}
